{% extends 'rango/base.html' %}
{% block title %}Practicing with templates{%endblock%}

{% block content %}
	<center><h1>Practicando con templates</h1></center>

	<strong>Atributos de dict context empleando un for de plantilla</strong><br><br>
	<table>
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
		{% for k,v in context.items %}
			<tr>
				<td>{{k}}</td>
				<td>{{v}}</td>
			</tr>
		{% endfor %}
	</table>

	<h2>Filters</h2>
	<li><strong>| upper</strong> (:) &gt;&gt;&gt;&gt; {{context.name | upper}}</li>
	
	<br>
	<li><strong>text | escape | linebreaks (:) </strong> combierte el texto en parrafos</li>
	&gt;&gt;&gt;&gt; {{context.parrafo|escape|linebreaks}}

	<li><strong>bio|truncatewords:30 (:) </strong>This will display the first 30 words of the bio variable.</li>
	&gt;&gt;&gt;&gt; {{context.parrafo|truncatewords:15}}

	<br><br>
	<li><strong>list|join:", " (:) </strong>join con cada elemento de la lista</li>
	&gt;&gt;&gt;&gt; {{context.lista | join:", "}}

	<br><br>
	<li><strong>value|default:"nothing" (:) </strong>If a variable is false or empty, use given default. Otherwise, use the value of the variable</li>
	&gt;&gt;&gt;&gt; {{context.value | default:'variable_vacia'}}

	<br><br>
	<li><strong>value|length (:) </strong>Returns the length of the value. This works for both strings and lists. For example:</li>
	&gt;&gt;&gt;&gt; length de lista: {{context.lista | length}}

	<br><br>
	<li><strong>value|filesizeformat (:) </strong>retorna un formato legible para tamaño de archivos:</li>
	&gt;&gt;&gt;&gt; size_file: {{context.size_file | filesizeformat}}

	<br><br>
	<li><strong>value|safe (:) </strong>No purga el HTML y lo manda crudo</li>
	&gt;&gt;&gt;&gt; ej: {{context.escape | safe}}

	<br><br>
	<li><strong>autoescape off | endautoescape (:) </strong>El contenido entre estas dos tags template no sera purgado</li>
	&gt;&gt;&gt;&gt; ej: {{context.escape | safe}}
	
	<br><br>
	<li><strong>Accediendo a objetos (relacionados) atraves de la foreign key (:)</strong></li>
	<ul>
		{% for p in context.posts %}
			<strong>{{p}}: </strong><code>Tot comments: {{p.comment_set.count}}</code>
			<ul>
			{% for c in p.comment_set.all %}
				<li>{{c}}</li>
			{% endfor %}
			</ul><br>
		{% endfor %}
	</ul>

	<li><strong>humanize (:) </strong>El contenido entre estas dos tags template no sera purgado</li>
	{% load humanize %} {# hay que agregar esta lib a settings.py/INSTALLED_APP#}
	&gt;&gt;&gt;&gt; ej: {{1235234234 | intcomma}}

	<br><br>
	<li><strong>{ # #} (:) </strong>Comenta codigo template</li>

	
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}