<!DOCTYPE html>
<html>
<head>
	<title>Ejemplo_2</title>
</head>
<body>
	<center><h1>Ejemplo_2</h1></center>
	<h2>Formas de manipular un formulario</h2>
	<h3>Forma #1</h3>
	<div>
			<form action="" method="post" novalidate> {% csrf_token %}
		    {{ form.as_p }}
		    <input type="submit" value="Submit">
	</div><br><br>
	<h3>Forma #2</h3>
	<div>
			<form action="" method="post" novalidate> {% csrf_token %}
			{{ form.non_field_errors }}
			<div class="fieldWrapper">
			    {{ form.subject.errors }}
			    <label for="{{ form.subject.id_for_label }}">Email subject:</label>
			    {{ form.subject }}
			</div>
			<div class="fieldWrapper">
			    {{ form.message.errors }}
			    <label for="{{ form.message.id_for_label }}">Your message:</label>
			    {{ form.message }}
			</div>
			<div class="fieldWrapper">
			    {{ form.sender.errors }}
			    <label for="{{ form.sender.id_for_label }}">Your email address:</label>
			    {{ form.sender }}
			</div>
			<div class="fieldWrapper">
			    {{ form.cc_myself.errors }}
			    <label for="{{ form.cc_myself.id_for_label }}">CC yourself?</label>
			    {{ form.cc_myself }}
			</div>
		    <input type="submit" value="Submit">

	</div><br><br>
	<h3>Forma #3</h3>
	{% for field in form %}
	    <div class="fieldWrapper">
	        {{ field.errors }}
	        {{ field.label_tag }} {{ field }}
	        {% if field.help_text %}
	        <p class="help">{{ field.help_text|safe }}</p>
	        {% endif %}
	    </div>
	{% endfor %}
	
</form> 
</body>
</html>